@inject NavigationManager NavigationManager
@implements IDisposable

<MudDialog>
    <TitleContent>
        <div class="d-flex justify-space-between align-center">
            <MudText Typo="Typo.h6">Payment Process</MudText>
            <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="Cancel" />
        </div>
    </TitleContent>
    <DialogContent>
        @if (_paymentCompleted)
        {
            <div class="d-flex flex-column align-center justify-center" style="height: 150px;">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle"
                        Color="Color.Success"
                        Size="Size.Large"
                        Class="mb-3"/>
                <MudText Typo="Typo.h6" Class="mb-4">Payment Done!</MudText>
                <div class="d-flex justify-center gap-2">
                    <MudButton Variant="Variant.Text"
                              Color="Color.Primary"
                              OnClick="ContinueShopping">
                        Continue Shopping
                    </MudButton>
                    <MudButton Variant="Variant.Filled"
                              Color="Color.Primary"
                              OnClick="GoToLibrary">
                        Go Library
                    </MudButton>
                </div>
            </div>
        }
        else
        {
            <div class="d-flex flex-column align-center justify-center" style="height: 150px;">
                <MudProgressCircular Color="Color.Primary"
                                    Style="height:70px;width:70px;"
                                    Indeterminate="true"
                                    Class="mb-3"/>
                <MudText Typo="Typo.body1">Processing your payment...</MudText>
            </div>
        }
    </DialogContent>
</MudDialog>
